.react-boilerplate-widget {
  border: 1px solid red;
  border-radius: 3px;
  h3 {
    color: red;
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid red;
  }

  p {
    padding: 5px;
    font-family: courier;
    font-style: oblique;

  }
}
